.header{
    display: flex;
    color: white;
    background-color: #4376A6;
    font-family: sans-serif;
    padding-left: 10% ;
    padding-right: 50px;
}
.logo{
    padding-right: 10%;
}
.input{
    border-radius:20px;
    background-color: #1A4B78;
    border: #1A4B78;
   height: 30px ;
    margin-left: 450px;
    margin: 10px;
}
.button{
    /* background-color: c2c9cf; */
        width:20%;
    margin: 30px 15px 10px 65px;
}
.img{
    
    flex-wrap: wrap;
    width: 25%;
}
.info{
    width: 30%;
    margin: 16px 170px 16px 150px;
    padding: 20px;
}